<section id="podcast-info">
  <p class="text-center fs-1 profile-intro">{{podcast.title}}</p>
  <div class="mx-auto" style="width: 200px;">
    <img src="/images/{{podcast.pod_img}}" style="max-width: 100%;" class="rounded-circle mx-auto d-block" alt="...">
  </div>
  <p class="text-center fs-5">Description: <br />{{podcast.description}}</p>
  <P class="text-center fs-3 mt-3">Genre: {{podcast.genre.genre_name}}</p>
  <div class="text-center rating">
        <i class="star far fa-star"></i>
        <i class="star far fa-star"></i>
        <i class="star far fa-star"></i>
        <i class="star far fa-star"></i>
        <i class="star far fa-star"></i>
  </div>
</section>
<section class="text-center mt-5" id="comments">
  {{#if loggedIn}}
  <form class="bg-light p-2" id="comment-form">

    <div>
      <input class="form-control ml-1 shadow-none textarea mb-2" type="text" id="comment-title" placeholder="title">
      <textarea class="form-control ml-1 shadow-none textarea" name="comment-content" id="comment-content"></textarea>
    </div>
    <div class="mt-2 text-right">
      <button class="btn btn-dark btn-sm ml-1 shadow-none" type="submit" id="comment-submit">Add Comment</button>
      <button class="btn btn-outline-dark btn-sm ml-1 shadow-none" type="button">Cancel</button>
    </div>
  </form>
  {{/if}}
  <div>

    {{#if podcast.comments.length}}

    {{#each podcast.comments as |com|}}

    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-8">
          <div class="d-flex flex-column">
            <div class="bg-white p-2">
              <div class="d-flex flex-row user-info"><img class="rounded-circle" src="/images/comment-icon.jpg"
                  width="50">
                <div class="d-flex flex-column justify-content-start ml-2">
                  <div class="d-flex justify-content-start">{{title}}</div>
                  
                    <div>
                    <span class="text-decoration-none text-secondary ">
                      by {{com.user.username}} at {{date_format com.createdAt}}</span></div>
                      </div>
              </div>
              <div class="d-flex flex column">
                <p >{{com.comment_text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  {{else}}
  <h5>No comments yet</h5>
  {{/if}}
  </div>
</section>
{{#if loggedIn}}
<script src=" /js/comment.js">
</script>
{{/if}}


{{!-- Style for single podcast page --}}