<div>
  <h4> this is the user profile </p>
</div>

<section>
  <h4>Your Comments:</h4>
    {{#if comments.length}}
    <ol>
      {{#each comments}}
      <li>
        <h5>{{title}}</h5>
        <p>{{comment_text}}</p>
        <a href="/podcasts/{{podcast.id}}">{{podcast.title}}</a>
      </li>
      {{/each}}
    </ol>
    {{else}}
    <h5>You have no comments!</h5>
    {{/if}}
</section>