
<div class="fs-4 profile-intro mb-5 font-monospace text-center">Welcome Your
  Profile</div>
<section class="container">
  <h4 class="text-secondary text-opacity-75 text-center font-monospace">Your Comments:</h4>
  {{#if comments.length}}
  <!--box for comment-->
  <!--each-->
   {{#each comments}}
  <div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="d-flex flex-column">
          <div class="bg-white p-2">
            <div class="d-flex flex-row user-info"><img class="rounded-circle" src="/images/comment-icon.jpg" width="50">
              <div class="d-flex flex-column justify-content-start ml-2"><span
                  class="d-block font-weight-bold name">
                  {{title}} | <a href="/podcasts/{{podcast.id}}" class="text-decoration-none text-secondary ">{{podcast.title}}</a></span>
                  <span class="date text-black-50">{{date_format createdAt}}</span></div>
            </div>
            <div class="mt-2">
              <p>{{comment_text}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
              {{/each}}
  </div>
  {{else}}
  <h5 class="text-secondary text-center text-opacity-50 font-monospace">You have no comments!</h5>
  {{/if}}
</section>



